<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <xacro:arg name="arm_id" default="panda" />
  <xacro:arg name="hand" default="true" />


 <link name="world"/>
  <!-- single arm with gripper -->
  <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro"/>
  <xacro:franka_arm arm_id="$(arg arm_id)" connected_to="world"  xyz="0 0 0" gazebo="true"
                    joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}"/>
  <xacro:if value="$(arg hand)">
      <xacro:include filename="$(find franka_description)/robots/common/franka_hand.xacro"/>
      <xacro:franka_hand
          arm_id="$(arg arm_id)"
          rpy="0 0 ${-pi/4}"
          connected_to="$(arg arm_id)_link8"
          safety_distance="0.03"
          gazebo="true"
       />
  </xacro:if>

</robot>
